html{
	font-size: 10px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1.6rem;
	text-align: center;
}
main{
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #EEEEEE;
	border-radius: 0.5rem;
	padding: 1rem;
}
h1{
	font-size: 4rem;
	line-height: 1.5;
}
@media screen and (max-width:1100px){
	main{
		margin: 6px 3px;
	}
	h1{
		line-height: 1.2;
}
}
h1>p{
	font-size: 1.6rem;
	margin: 1rem 0;
}
#img-div{
	background-color: white;
	margin-bottom: 1rem;
	padding: 1rem;
}
#image{
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
}
h2{
	margin: 2rem;
}
ul{
	max-width:80%;
	margin: 0 auto 50px auto !important;
	
	text-align:left;
	line-height: 3;
}
@media screen and (max-width:1100px){
	ul{
		max-width:100%;
		margin: 0 auto 0 30px !important;
		line-height: 1.4;}
}

li {
  margin: 16px 0;
}