		*{
			margin: 0;
			padding: 0;
		}
		/* start-header */
		header{
			width: 100%;
			height: 6.5vh;
			display: flex;
			align-items: center;
			background-color: #5AC0CE;
		}
		.header{
			width: 100%;
			height: 6.5vh;
			justify-content: center;
		}
		.header>p{
			font-size: 2.5vh;
			color: white;
			text-align: center;
			line-height: 6.5vh;
			user-select:none;
		}
		.back{
			width: 1.5vh;
			height: 1.5vh;
			margin-left: 4.5vmin;
			border-left:solid white;
			border-bottom:solid white;
			transform: rotate(45deg);
		}
		.backbtn{
			position: absolute;
			width: 20%;
		}
		/* end-header */
		section{
			background-image: url(../img/main.png) ;
			background-color: #5AC0CE;
			background-size:cover;
			display: flex;
			height: 26vh;
			align-self: center;
		}
		.section1{
			height: 51.3%;
			margin-left:4.16%;
			align-self: center;
		}
		/* 个人信息 */
		.personal-date{
			margin-left: 6.11vw;
			display: grid;
			grid-template:
			"a a"
			"c c"
			;
			grid-template-rows:12.6vh ;
			grid-gap:1.98vh 0;
			
		}
		.name{
			color: #FFFFFF;
			font-size: 2.86vh;
			align-self:end;
			}
		.old{
			margin-left: 1.86vh;
			font-size: 2.68vh;
			color: #FFFFFF;
			align-self:end;
		}
		/* 地址图标 */
		.position{
			width: 1vh;
			height: 1vh;
			border:0.5vh solid #5AC0CE;
			border-radius:50%;
			transform: scale(0.9);
		}
		.postionend{
			position: relative;
			right: 0.4vh;
			top: 1vh;
			height: 0;
			width: 0;
			border-radius: 50%;
			border-bottom: 0.9vh solid #5AC0CE;
			border-left: 0.9vh solid transparent;
			border-right: 0.9vh solid transparent;
			transform: rotate(180deg);
		}
		/* 地址 */
		.address{
			margin-left: -2.6vh;
			color: #FFFFFF;
			font-size: 1.88vh;
		}
		
		/* 地址-end */
		/* mainstart */
		.main{
			height: 50vh;
			display: grid;
			grid-template-rows:repeat(auto-fit,minmax(50px,1fr)) ;
			
		}
		.main>div{
			border-bottom: 1px solid #E1E5E7;
			margin-left:3vh ;
		}
		/* line1-start */
		.line1{
			margin-left: 0 !important;
			display:grid;
			grid-template-columns: 3vh 16vh auto;
			grid-template-areas:"a b c"
		}
		.line11{
			align-self:center;
			justify-self:center;
			grid-area:b;
			font-size:2.86vh;
			padding-left: 2.2vh;
			border-left:3px SOLID #5AC0CE;
		}
		/* line1-end */
		/* line2-start */
		.line2{
			display:grid;
			grid-template-columns: 12vh auto;
			align-items: center;
		}
		
		.line21 {
			justify-self:center;
			font-size: 2.686vh;
			padding-right: 1vh;
			border-right:1px solid #E1E5E7;
		}
		.line22{
			padding-left: 1vh;
			font-size: 2.686vh;
			
		}
		.line2>div>span{
			color: #FF0000;
			font-size: 2.686vh;
		}
		/* line2-end */
		/* line3-6-start */
		.line3{
			display:grid;
			grid-template-columns: 16vh auto;
		}
		.line31{
			color: #ACACAC;
			justify-self:center;
			align-self:center;
			font-size:2.186vh;
			padding-right: 2vh;
			border-right:1px solid #E1E5E7;
			user-select:none;
		}
		.line32{
			align-self:center;
			font-size:2.186vh;
		}

		/* line3-6-end */
		#red{
			color: red;
			font-weight: 700;
		}
		#font-size{
			margin-right: 5vw;
			font-size: 1.86vh;
			align-self: center;
		}
		/* main-end */
		
		/* footer */
		.end{
			width: 100vw;
			height: 17.5vh;
			display: flex;
			flex-direction:row;
			justify-content: space-between;
			align-items: center;
		}
		/* button-start */
		.button{
			width: 41.68vw;
			height: 6.088vh;
			font-size: 2.186vh;
			border-radius: 6%;
			border: 2px solid #64C3D1;
			
		}
		#button1{
			background-color: #FFFFFF;
			margin-left:5.168vw;
		}
		#button2{
			background-color: #64C3D1;
			color: #FFFFFF;
			margin-right:5.168vw;
		}
		/* style-end */
		
		/* footer-end */
		